.container {
    max-width:  960px;
    margin: 0 auto;
}
.row {
    padding-top: 20px;
}
button {
    margin: 5px;
    background-color:#009999;
    color: white;
}
button:hover {
    background-color: #003333;
}
button:visited {
    background-color: #003333;
} 
button:active {
    background-color: #003333;
} 
button:focus {
    background-color: #003333;
} 
#addAnimal {
    margin-top: 5px;
    background-color:#003333;
    color: white;
      margin: 0 50%;
}
p {
    margin-top: 10px;
}
img {
 width: 60%;
 border: solid 3px #003333;
}

.jumbotron {
    background-color: #003333;
     color: white;
    text-align: center;
}